:root {
  --window-height: calc(100vh - 103px);
  --window-height-account: calc(100vh - 180px);
  --window-width200: calc(80vw - 200px);
  --detail-right-width: calc(70vw - 500px);
  --bgyellow: #f4ca22;
  --bgred: #FF3131;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

a.active {
  color: var(--bgred);
}

.game-item {
  width: 100%;
  height: 40vh;
  outline: solid 1px black;
  margin: auto;
}

.navbar {
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-family: sans-serif;
  line-height: 2.2;
  background-color: #262931;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.logo-nav {
  height: 103px;
  width: 103px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.fa-bars {
  font-size: 1.5rem;
  color: var(--bgyellow);
  cursor: pointer;
}

.fa-bars:hover {
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.pointer {
  cursor: pointer;
}

.link:hover {
  background-color: var(--bgyellow);
  padding-left: 1.5rem;
}

.dropdown-content {
  display: list-item;
  padding-left: 2rem;
}

.dropdown-link {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-link:hover {
  background-color: var(--bgyellow);
  padding-left: 1.5rem;
}

.menu {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  margin-bottom: 10px;
}

.main-content {
  width: 100vw;
  margin: auto;
  height: auto;
  position: relative;
}

.show-menu {
  height: fit-content;
  list-style-type: none;
}

.nav-right {
  display: none;
}

.user-log-signin {
  display: inline-flex;
}

.three-container {
  display: block;
  width: 100%;
  align-items: center;
  margin: 30px 0;
}

.game-window-1 {
  outline: 1px solid black;
  width: 100%;
  height: 40vh;
  margin-bottom: 40px;
  position: relative;
}

.featured-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

.featured-games {
  width: 100vw;
  height: 40vh;
}

.swiper.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide.swiper-slide {
  height: 40vh;
  width: 40vh;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
}

.swiper .swiper-button-prev::after {
  content: '🢔';
  font-size: 75px;
  color: var(--bgyellow);
}

.swiper .swiper-button-next::after {
  content: '🢖';
  font-size: 75px;
  color: var(--bgyellow);
}

.swiper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
  display: none;
}

.carousel {
  margin: 0 auto;
  height: inherit;
  width: inherit;
}

.carousel-image {
  height: inherit;
  width: inherit;
}

.carousel-dot-container {
  display: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2px;
  font-size: 55px;
  color: var(--bgyellow);
  z-index: 1;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 2px;
  font-size: 55px;
  color: var(--bgyellow);
  z-index: 1;
  cursor: pointer;
}

.game-label {
  margin: 0 0 10px 0;
}

.section-title {
  margin-bottom: 0;
  padding-top: 10px;
}

.page-numbers {
  display: flex;
  padding: 0 4px 0 4px;
}

.page-number {
  color: #262931;
  padding: 0 1.4px 0 1.4px;
}

.page-nav {
  color: #262931;
}

a.active > .page-number {
  color: var(--bgred);
}

.pagination {
  display: flex;
  justify-content: center;
}

.boardgame-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boardgame-image {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.description-image {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  object-fit: fill;
  opacity: 0.3;
  z-index: -1;
}

.description-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: pre-line;
}

.description-content {
  position: absolute;
  width: 80vw;
  margin: auto;
  outline: 1px solid black;
  background-color: rgb(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: var(--window-height);
}

.description-image-overlay {
  height: 70vw;
  width: 70vw;
}


@media (min-width: 800px) {
  .logo-nav {
    height: 120px;
    width: 120px;
    margin-left: 30px;
  }

  .navmain {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: .3rem;
  }

  .nav-right {
    margin-left: auto;
    position: static;
    display: inline-flex;
    text-align: center;
  }

  .nav-button {
    margin: 0.3rem;
    background-color: #262931;
    color: white;
    padding: 0;
    width: 100px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
  }

  .medium-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #31353d70;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    max-width: 80%;
    z-index: 1000;
  }

  .dropdown-content {
    top: 102.8px;
    position: absolute;
    z-index: 20;
    background-color: #31353d70;
    height: auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 0 0 5px 5px;
    padding-left: 1rem;
  }

  .dropdown-link:hover {
    background-color: var(--bgyellow);
    transition: all 0.5s;
    padding: 0.5rem 1rem;
    width: 83.6%;
  }

  .dropdown-link {
    text-decoration: none;
    margin: 0.5rem;
    color: white;
    transition: all 0.5s;
    width: 100%;
    display: inline-flex;
  }

  .list-item {
    float: left;
    overflow: hidden;
  }

  .nav-header {
    padding: 0;
  }

  .fa-bars {
    display: none;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .link {
    padding: 0.5rem 1rem;
  }

  .link:hover {
    padding: 0.5rem 1rem;
    background-color: transparent;
  }

  .user-log-signin {
    display: none;
  }

  .main-content {
    width: 75vw;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
  }

  .three-container {
    display: flex;
    justify-content: space-evenly;
    height: 45vh;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0;
  }
  
  .game-window-1 {
    position: relative;
    border: 1px solid black;
    width: 22vw;
    margin: auto;
  }
  
  .featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
  }
  
  .featured-games {
    border: 1px solid black;
    width: 70vw;
    height: 40vh;
    margin: auto;
    margin-top: 10px;
  }

  .game-list5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem; /* Add any gap you want between the cards */
    justify-items: center;
  }

  .game-item-container {
    height: 25vh;
    width: 13vw;
    justify-content: center;
  }

  .game-item {
    height: 25vh;
    width: 13vw;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
  }

  .game-item:hover {
    transform: scale(1.16);
    z-index: 5;
  }

  .page-numbers {
    display: flex;
  }

  .page-number {
    border: 2px solid white;
    background: #262931;
    color: white;
    padding: 0;
    border-radius: 5px;
    width: 32px;
    text-align: center;
  }

  .page-numbers a.active h4 {
    border: 2px solid white;
    background: #262931;
    color: var(--bgred);
  }

  .pagination {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
  }

  .page-nav {
    margin: 0.3rem;
    background-color: #262931;
    color: white;
    padding: 0;
    width: 100px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
  }

  .page-nav.prev::after {
    content: ' Previous';
  }

  .page-nav.next::before {
    content: 'Next ';
  }

  .boardgame-title {
    margin: 0 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .boardgame-image {
    width: 100%;
    height: 100%;
  }

  .carousel {
    margin: 0 auto;
    height: inherit;
    width: inherit;
    position: relative;
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 2px;
    font-size: 55px;
    color: var(--bgyellow);
    z-index: 1;
    cursor: pointer;
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 2px;
    font-size: 55px;
    color: var(--bgyellow);
    z-index: 1;
    cursor: pointer;
  }

  .carousel-dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    z-index: 1;
    bottom: 8px;
    width: 8vw;
    height: 20px;
    left: 7vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .carousel-dot {
    opacity: 0.5;
    margin: 0 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bgyellow);
    height: 1vh;
    width: .5vw;
    border-radius: 50%;
  }

  .carousel-dot.active {
    opacity: 1;
  }

  .carousel-image {
    height: inherit;
    width: inherit;
  }

  .swiper.swiper-container {
    height: 100%;
    width: 100%;
  }

  .swiper-slide.swiper-slide {
    height: 40vh;
    width: 40vh;
  }

  .swiper-slide img {
    height: 100%;
    width: 100%;
  }

  .swiper .swiper-button-prev::after {
    content: '🢔';
    font-size: 150px;
    color: var(--bgyellow);
  }

  .swiper .swiper-button-next::after {
    content: '🢖';
    font-size: 150px;
    color: var(--bgyellow);
  }

  .swiper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    display: flex;
    width: 8vw;
    height: 20px;
    left: 31vw;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 0;
  }

  .featured-games .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {    
    margin: 0 2px;
  }

  .swiper .swiper-pagination-bullet {
    opacity: 0.5;
    background: var(--bgyellow);
    height: 1vh;
    width: .5vw;
  }

  .swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--bgyellow);
  }

  .game-details {
    height: auto; 
  }

  .description-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: pre-line;
  }

  .description-content {
    position: absolute;
    width: 70vw;
    min-width: 800px;
    margin: auto;
    outline: 1px solid black;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: var(--window-height);
  }

  .description-name {
    text-align: center;
    font-size: 70px;
  }

  .description-list {
    list-style: none;
    text-align: left;
  }

  .description-list li {
    padding-bottom: 10px;
    font-size: large;
  }

  .description-image {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    object-fit: fill;
    opacity: 0.3;
    z-index: -1;
  }

  .game-details-grid {
    display: flex;
    justify-content: center;
  }

  .game-details-left {
    height: auto;
    width: auto; 
    outline: solid 1px black;
  }

  .game-details-right {
    height: auto;
    width: var(--detail-right-width);
    min-width: 400px;
    outline: solid 1px black;
  }

  .game-details-top-right {
    height: 85px;
    width: auto; 
  }

  .game-details-bottom-right {
    height: 565px;
    width: auto;
    overflow: auto;
  }

  .game-details-top-left {
    height: 500px;
    width: 500px;
  }

  .game-details-bottom-left {
    height: 150px;
    width: 500px;
    font-size: larger;
  }

  .darken {
    filter: brightness(0.4);
  }

  .description-image-overlay {
    height: 500px;
    width: 500px;
  }

  .description-overlay-top {
    position: absolute;
    top: 500px;
    z-index: 1;
    color: white;
    font-size: 40px;
    padding-left: 24px;
  }

  .description-overlay-bottom {
    position: absolute;
    top: 550px;
    z-index: 1;
    color: white;
    padding-left: 30px;
    font-size: 40px;
  }

  .details-text {
    font-size: larger;
    margin: 0;
  }

  .details-description {
    padding: 10px 70px 0 70px;
    display: flex;
    text-align: left;
  }

  .detail-headings {
    margin: 10px 0 0 0;
  }

  .large-detail-headings {
    font-size: 40px;
    padding: 30px 0 0 0;
    margin: 0;
  }
}